
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ejercicio4</title>
</head>
<body>
    <table border="1" cellpadding="2">
        @for (var j = 1; j < 10; j++)
        {
            <tr>
                @for (var i = 1; i < 10; i++)

                {
                    var x = @i * @j;
                    <td>@j x @i= (x)</td>
                }
            </tr>
        }

    </table>

</body>
</html>
