
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductList</title>
</head>
<body>
    <ul>
        <li>
            <h2>Patatas</h2>
        </li>
        <li>
            <h2>Queso</h2>
        </li>
        <li>
            <h2>Jamon</h2>
        </li>
        <li>
            <h2>Croquetas</h2> 
        </li>
    </ul>
</body>
</html>
