
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductList</title>
</head>
<body>
    <ul>
        <li>
            <h2>Elemento1</h2>
        </li>
        <li>
            <h2>Elemento2</h2>
        </li>
        <li>
            <h2>Elemento3</h2>
        </li>
        <li>
            <h2>Elemento4</h2> 
        </li>
    </ul>
</body>
</html>
