
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductList</title>
</head>
<body>
    <ul>
        <li>
            Patatas
        </li>
        <li>
            Aceite
        </li>
        <li>
            Queso
        </li>
        <li>
            Batido de fresa
        </li>
    </ul>
</body>
</html>
